---
# installation: `pre-commit install`
default_install_hook_types:
  - pre-commit
  - commit-msg
repos:
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        exclude: |
          (?x)(
            go.*|
            README.md|
            COMMIT_EDITMSG
          )
  - repo: https://github.com/semgrep/semgrep
    rev: v1.97.0
    hooks:
      - id: semgrep-ci
